* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: aqua;
    display: flex;
}

div.controlPannel {
    background-color: rgb(26, 145, 145);
    height: 100vh;
    flex: 1 1 auto;
}

div.workArea {
    height: 100vh;
    flex: 4 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.gridContainer {
    width: 650px;
    height: 650px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
}

div.gridRow {
    border: 1px solid red;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

div.gridColumn {
    flex: 1 1 auto;
    border: 1px solid black;
}